@import "../../home/home.component.scss";
.mat-table{    
    width: 100%;
    border-radius: 10px;
    overflow:hidden !important;
    background-color: #11161f;
}
.buttonAdd{
    align-items: flex-end;
    margin-left: 75%;
    height: 50%;
}