@import "../../home/home.component.scss";
.mat-table{    
    width: 100%;
    border-radius: 10px;
    overflow:hidden !important;
    background-color: #11161f;
}
.buttonAdd{
    
    background-color: rgb(210, 30, 60);
    border-radius: 10%;
    font-family: cursive;
    font-size: large;
}
#barrasuperior{
    background: darkturquoise;
    font-family: cursive;
    justify-content: space-between; 
    align-items: baseline;
}