@import "../../home/home.component.scss";

#content{
    background-color: transparent;

}

#ingresoD{
    background: rgb(12, 9, 27);
    width: 25pc;
    height: 309px;
    border-radius: 50%;
    padding: 40px;
}
#hederlogin{
    font-family: cursive;
    background: rgb(12, 9, 27);
}
#nombre{
    
    font-family: cursive;
     font-size: 18px;
     font-style: italic;
     color: white !important;
     
}