<mat-toolbar>
    <mat-toolbar-row class="justify-content-between">
      <button mat-icon-button (click)="toggleSidebar()">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="row mr-2 ml-auto">
        <ul class="row m-0 align-items-center">
          <li *ngIf="user">
            <button
              mat-button
              [matMenuTriggerFor]="menu"
              class="user mt-2 d-flex align-items-center"
            >
            <mat-icon id="icono">account_circle</mat-icon>
              {{ user.email }}
              <mat-icon class="user-image-icon ml-1"
                >keyboard_arrow_down</mat-icon
              >
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item class="logoutBtn"
              (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                Salir
              </button>
            </mat-menu>
          </li>
          <li *ngIf="!user">
            <button
              mat-button
              [matMenuTriggerFor]="menu"
              class="user mt-2 d-flex align-items-center"
            >
              <mat-icon id="icono">account_circle</mat-icon>
              Usuario 
              <mat-icon class="user-image-icon ml-1">
                keyboard_arrow_down
              </mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item class="loginBtn"
              [routerLink]="['/login']">
                <mat-icon>exit_to_app</mat-icon>
                Cliente
              </button>
              <button mat-menu-item class="loginBtn"
              [routerLink]="['/adminLogin']">
                <mat-icon>exit_to_app</mat-icon>
                Administrador
              </button>
            </mat-menu>
          </li>
        </ul>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  