@import "../home/home.component.scss";
@import "../product-view/product-view.component.scss";

#barraaSp{
    background: darkturquoise;
    font-family: cursive;
    
}
    #busqueda{
        color: black;
        size: 15px ;
        border-radius: 15px 15px 15px 15px ;
        font-size: 20px ;   
        border: 1px solid #39c ;   
        padding: 4px 
        
    }

 #contenedor{
    background-color: rgb(250, 241, 234);
 }
#alineacion{
    float: left;
    align-items: flex-start;
    justify-content: flex-start;
}