@import "../home/home.component.scss";
@import "../product-view/product-view.component.scss";

#barraaSp{
    background: darkturquoise;
    font-family: cursive;
    
}
    #busqueda{
        color: black;
        size: 15px ;
        border-radius: 15px 15px 15px 15px ;
        font-size: 20px ;   
        border: 1px solid #39c ;   
        padding: 4px 
        
    }

 #contenedor{
    background-color: rgb(250, 241, 234);
 }
#alineacion{
    float: left;
    align-items: flex-start;
    justify-content: flex-start;
}
#colorLabel{
    color: black !important;           
}
#colorLabelT{
    color: black !important;
    text-align-last: end;
   
}
.mat-row:nth-child(even){
    background-color: #e4f0ec;
    border-bottom: solid 2px black;
}
.mat-row:nth-child(odd){
    background-color:#ffffff;
    border-bottom: solid 2px black;

}
td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type{
    padding-right: 24px;
    text-align: center;
}

th.mat-header-cell,td.mat-cell, td.mat-footer-cell{
    text-align: -webkit-right;
    padding: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}