@import "../home/home.component.scss";

.mat-table{    
    width: 100%;
    background-color: #658acf;
    
}
.searchBox{
    background: #11161f;
    border-radius: 8.5px 8.5px 0px 0px;
    font-size: 13px;
    width: 100%;
    height: 40px;
}
.mat-form-field{
    width: 95%;
    margin: 0px 10px 1% 1%;
}
.mat-paginator{
    font-size: 16px;
    background-color: #31518c;
    width: 100%;
}
.buttonAdd{
   // margin-left: 65%;
   // margin-top: 8px;
   // height: 50%;
    background-color: rgb(210, 30, 60);
    border-radius: 10%;
    font-family: cursive;
    font-size: large;
}
table{
    background-color: aliceblue;
}
#barraSuperior{
    background: darkturquoise;
    font-family: cursive;
    justify-content: space-between; 
    align-items: baseline;
      
}
#busqueda{
    color: black;
    size: 15px !important;
    border-radius: 15px 15px 15px 15px !important;
    font-size: 20px !important;   
    border: 1px solid #39c !important;   
    padding: 4px !important
    
}

#contenedor{
background-color: rgb(250, 241, 234);
}
#alineacion{
float: left;
align-items: flex-start;
justify-content: flex-start;
}
#colorLabel{
    color: black !important;   
}
.mat-row:nth-child(even){
    background-color: #e4f0ec;
    border-bottom: solid 2px black;
}
.mat-row:nth-child(odd){
    background-color:#ffffff;
    border-bottom: solid 2px black;

}

 td.mat-cell{
    text-align: start ;
}
