.mat-dialog-title{
    display: flex;
    justify-content: space-between;
    font-size: 34px;
    
   
}
.mat-dialog-content{
    width: 100%;
  
   
}
.mat-form-field{
    width: 100%;
   
}
.mat-table{
    width: 100%;
   
}
.mat-row:nth-child(even){
    background-color: #e4f0ec;
    border-bottom: solid 2px black;
}
.mat-row:nth-child(odd){
    background-color:#ffffff;
    border-bottom: solid 2px black;
}
  #colorLabel{
    color: black !important;           
}
