<div mat-dialog-title>
    <h1 mat-dialog-title>Products</h1>
    <button mat-raised-button color="warn"(click)="close()"> <mat-icon>cancel</mat-icon> </button>
</div>
<mat-form-field appearance="standard">
    <mat-label>Search by ID, Name, Unit Price or Genre.</mat-label>
    <input matInput (keyup)="searchProduct($event)" placeholder="Search by ID, Name, Unit Price or Genre." #input>
</mat-form-field>
<div mat-dialog-content>
    <table mat-table [dataSource]="dataSource"> 
        <ng-container matColumnDef="ID">
            <th mat-header-cell *matHeaderCellDef >ID</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>
        <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>
        <ng-container matColumnDef="Genre">
            <th mat-header-cell *matHeaderCellDef>Genre</th>
            <td mat-cell *matCellDef="let element">{{ element.genre }}</td>
        </ng-container>
        <ng-container matColumnDef="Quantity">
            <th mat-header-cell *matHeaderCellDef>Qty.</th>
            <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
        </ng-container>
        <ng-container matColumnDef="Unit Price">
            <th mat-header-cell *matHeaderCellDef>Unit Price</th>
            <td mat-cell *matCellDef="let element">{{ element.unitPrice}} $</td>
        </ng-container> 
        <ng-container matColumnDef="Add">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element"><button  mat-raised-button color="primary" 
                (click)="selectProduct(element)"><mat-icon>add_box</mat-icon></button></td>
        </ng-container>
            <tr mat-header-row *matHeaderRowDef="tableProductsColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: tableProductsColumns;"></tr>
    </table>
    <mat-paginator #paginator [pageSizeOptions]="[6]"></mat-paginator>
</div>