<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2" id="barra">Venta Finalizada</div>
    <div class="page__content shadow">
        <div class="billTitle">
            <div style="background: white;">Factura {{numberfac}}</div>
            <div>Fecha: {{fecha}}</div>
        </div>


        <div class="clientDetails">
            <form class="formClient" [formGroup]="clientForm">
                <mat-form-field appearance="fill">
                    <mat-label id="colorLabel">ID</mat-label>
                    <input id="colorLabel" matInput type="text" formControlName="ClientID">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label id="colorLabel">Nombre</mat-label>
                    <input id="colorLabel" matInput type="text" formControlName="ClientName">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label id="colorLabel">Cedula</mat-label>
                    <input id="colorLabel" matInput type="text" formControlName="ClientCedula">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label id="colorLabel">Correo</mat-label>
                    <input id="colorLabel" matInput type="text" formControlName="ClientEmail">
                </mat-form-field>
            </form>
        </div>
        <div class="saleDetails">
            <table class="page__content-data" mat-table [dataSource]="dataSource" class="mat-elevation-24">
                <ng-container matColumnDef="ID">
                    <th mat-header-cell *matHeaderCellDef id="colorLabel">ID</th>
                    <td mat-cell *matCellDef="let element" id="colorLabel">{{ element.ID }}</td>
                </ng-container>
                <ng-container matColumnDef="Name">
                    <th mat-header-cell *matHeaderCellDef id="colorLabel">Nombre</th>
                    <td mat-cell *matCellDef="let element" id="colorLabel">{{ element.Name }}</td>
                </ng-container>
                <ng-container matColumnDef="Quantity">
                    <th mat-header-cell *matHeaderCellDef id="colorLabel">Cantidad</th>
                    <td mat-cell *matCellDef="let element" id="colorLabel">{{ element.Quantity }}</td>
                </ng-container>

                <ng-container matColumnDef="Price">
                    <th mat-header-cell *matHeaderCellDef id="colorLabel">Precio c/u</th>
                    <td mat-cell *matCellDef="let element" id="colorLabel">{{ element.Price }} $</td>
                </ng-container> 

                <ng-container matColumnDef="Subtotal">
                    <th mat-header-cell *matHeaderCellDef id="colorLabel">Total</th>
                    <td mat-cell *matCellDef="let element" id="colorLabel">{{ element.Subtotal }} $</td>
                </ng-container> 
    
                <tr mat-header-row *matHeaderRowDef="tableColumns" id="colorLabel"></tr>
                <tr mat-row *matRowDef="let row; columns: tableColumns" id="colorLabel"></tr>
            </table>
            <mat-paginator id="foter" #paginator [pageSizeOptions]="[4]"  ></mat-paginator>
        </div>
        <div>
            <form class="formTotal" [formGroup]="billForm">
                <mat-form-field class="total" appearance="fill">
                        <mat-label id="colorLabel">Subtotal</mat-label>
                        <input id="colorLabel" matInput type="text" formControlName="subtotal">
                </mat-form-field>
                <mat-form-field class="totalIVA" appearance="fill">
                    <mat-label id="colorLabel">IVA 12%</mat-label>
                    <input id="colorLabel" matInput type="text" formControlName="iva">
            </mat-form-field>
            </form> 

            <div>
                <form class="formTotal" [formGroup]="billForm2">
                    <mat-form-field class="total" appearance="fill">
                            <mat-label id="colorLabel">Total</mat-label>
                            <input id="colorLabel" matInput type="text" formControlName="total">
                    </mat-form-field>
                    
                </form> 
            </div>
            
            <!-- <table class="totales">
                <td id="letras">
                    <tr>Sub Total:</tr>
                    <tr>IVA 12%:</tr>
                    <tr>Total:</tr>
                </td>
                <td id="numeros">
                    <tr><input id="colorLabel" matInput type="text" formControlName="total"></tr>
                    <tr></tr>
                    <tr></tr>
                </td>
            </table> -->


        </div>
        <button routerLink="/new-sale" type="button" class="btn btn-primary" (click)="salir()">Salir</button>
        
    </div>
    
</div>
