<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">NUEVA FACTURA</div>
    <div class="page__content shadow">
        <div class="newSale">
            <div class="productDetails">
                <div class="buttonsProduct">
                    <button class="buttonsProduct_openDialog" mat-stroked-button color="accent" (click)="openProductDialog()">
                        <mat-icon>search</mat-icon></button>
                </div>
                <form class="formProduct" [formGroup]="productForm">
                    <mat-form-field appearance="fill">
                        <mat-label>Producto</mat-label>
                        <input matInput type="text" formControlName="ProductName">
                    </mat-form-field>
                    <mat-form-field class="fieldNumber">
                        <mat-label>Cantidad</mat-label>
                        <input matInput type="number" formControlName="ProductQuantity" 
                        (input)="calculateProductTotal(quantity.value);" #quantity>
                    </mat-form-field>
                    <mat-form-field class="fieldNumber">
                        <mat-label>Total</mat-label>
                        <input matInput type="text" formControlName="ProductTotal">
                    </mat-form-field>
                    <button type="submit" mat-raised-button color="primary"  [disabled]="!productForm.valid"
                    (click)="addSaleDetail(quantity.value)">Confirmar</button>
                </form>
            </div>
            <div class="billTitle">
                <div class="d-flex">Factura</div>
            </div>
            <div class="clientDetails">
                <div class="buttonsClient">
                    <button class="buttonsClient_ukClient"mat-stroked-button color="accent" (click)="finalClient()" >
                        <mat-icon>person_off</mat-icon></button>
                    <button class="buttonsClient_openDialog" mat-stroked-button color="accent"  (click)="openClientDialog()">
                        <mat-icon>person_search</mat-icon></button>
                </div>
                <form class="formClient" [formGroup]="clientForm">
                    <mat-form-field appearance="fill">
                        <mat-label>Id</mat-label>
                        <input matInput type="text" formControlName="ClientID">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Nombre</mat-label>
                        <input matInput type="text" formControlName="ClientName">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Cedula</mat-label>
                        <input matInput type="text" formControlName="ClientCedula">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Correo</mat-label>
                        <input matInput type="text" formControlName="ClientEmail">
                    </mat-form-field>
                </form>
            </div>
            <div class="productsbill">
                <div class="productListTable">
                    <table class="page__content-data" mat-table [dataSource]="saleDetailsTable" 
                    class="mat-elevation-24"> 
                        <ng-container matColumnDef="Name">
                            <th mat-header-cell *matHeaderCellDef>Name</th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.Name }}</td>
                                <td mat-footer-cell *matFooterCellDef> Total </td>
                        </ng-container>
                        <ng-container matColumnDef="Qty.">
                            <th mat-header-cell *matHeaderCellDef>Cantidad</th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.Quantity }}</td>
                                <td mat-footer-cell *matFooterCellDef> {{ getTotal()}} $</td>
                        </ng-container>
                        <ng-container matColumnDef="Subtotal">
                            <th mat-header-cell *matHeaderCellDef>Subtotal</th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.Subtotal }} $</td>
                                <td mat-footer-cell *matFooterCellDef> Total(IVA) </td>
                        </ng-container> 
                        <ng-container matColumnDef="Options">
                            <th mat-header-cell *matHeaderCellDef>Actions</th>
                            <td mat-cell *matCellDef="let element">
                                <button  mat-raised-button color="warn"
                                (click)="removeSaleDetail(element)"> <mat-icon>delete</mat-icon> </button>
                            </td>
                            <td mat-footer-cell *matFooterCellDef> {{ getTotal() * 1.1 |number}} $</td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="tableBillColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: tableBillColumns;"></tr>
                        <tr mat-footer-row *matFooterRowDef="tableBillColumns"></tr>
                </table>
                </div>
                <div class="billInformation">
                    <button mat-raised-button color="primary" (click)="openConfirmDialog()" 
                      color="primary" [disabled]="saleDetailsTable.length === 0">Checkout</button>
                </div>
            </div>       
        </div>
    </div>
</div>